html, body {
	height: 100%;
}

body {
	background-color: #000000;
	margin: 0;
	font-family: Helvetica, sans-serif;;
	overflow: hidden;
	position:relative;
	-webkit-transform-style:preserve-3d;
	-webkit-transform: perspective(20);
}

.element {
	position : absolute;
	width: 100px;
	height: 120px;
	box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	text-align: center;
	cursor: default;
	font-weight: bold;
	background-color : rgba(0,127,127,0.5);

	-webkit-animation-name: animate1;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
}


@-webkit-keyframes animate1{
	0%
	{
		/* -webkit-transform : scale(1.0) translateX(0px) translateY(0px); */
		-webkit-transform : matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		opacity : 1.0;
	}
	50%
	{
		/* -webkit-transform : scale(2.0) translateX(200px) translateY(200px) rotate(90deg); */
		-webkit-transform : matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,200,200,0,1);
		opacity : 1.0;
	}
	100%
	{
		/* -webkit-transform : scale(1.0) translateX(0px) translateY(0px);*/
		-webkit-transform: matrix3d(2,0,0.00,0,0.00,2,0.00,0,0,0,1,0,200,200,500,1) rotateY(45deg);
		opacity : 1.0;
	}
}

/*

	transform: matrix3d(scaleX,0,0.00,0,0.00,2,0.00,0,0,0,1,0,translateX,translateY,translateZ,1);

*/